<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [370, 300]
  Dashing.numColumns = 4
  Dashing.numRows = 3
});
</script>

<% content_for(:title) { "eHMP" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/logo.agilex.png"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text"
           data-title="" data-text="eHMP">
      </div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="3" data-sizey="2">
      <div data-id="jenkins" data-view="Jenkins" data-unordered="true"
           data-title="Jenkins" data-moreinfo="Build status"></div>
    </li>

    <li data-row="3" data-col="2" data-sizex="3" data-sizey="1">
      <div data-id="jenkins-last-commit" data-view="Jenkinslastcommit" data-unordered="true" data-title="Last commit" ></div>
    </li>


  </ul>
</div>